{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Fashi - wyszukiwarka ubrań i wirtualny stylista</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static "css/bootstrap.css" %}" media="screen">
    <link rel="stylesheet" href="{% static "css/bootswatch.min.css" %}">
      <style>
          .rndmy {
          margin-left:40px;
          border-radius: 10px;
          width:100px;
          cursor:pointer
          }
      </style>

  </head>
  <body>
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="/" class="navbar-brand"></a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
            <li>
              <a href="/"><img width=30 src="{% static "images/logo1.png" %}"></a>
            </li>
            <li>
              <a href="/archive">Moja szafa</a>
            </li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li><a>Witaj {{ user.username }}!</a></li>
            <li><a href="/logout">Wyloguj się</a></li>
          </ul>

        </div>
      </div>
    </div>


    <div class="container">
        <div style="padding:50px">
            <center>
                <img src="{% static "wimg/" %}/{{ selected_item.images.first.address }}">
                <br />
                <img src="{% static "images/happy.png" %}" class=rndmy onclick="parent.location='/b/{{ selected_item.id }}'">
                <img src="{% static "images/szafa.png" %}" class="rndmy" type="button"  onclick="parent.location='/h/{{ selected_item.id }}'">
                <img src="{% static "images/smutny.png" %}" class="rndmy"  type="button" onclick="parent.location='/n/{{ selected_item.id }}'">
            </center>
            <br />
            <div style="margin-left:350px">
                <b>Nazwa: </b> {{ selected_item.itemname }} <br />
                <b>Kategoria: </b>  {{ selected_item.type }} <br />
                <b>Styl: </b>  {{ selected_item.style }} <br />
                <b>Dla: </b>  <script>var sss = "{{ selected_item.gender }}"; document.write(sss.substring(0, sss.length - 1));</script> <br />
                <b>Opis: </b> {{ selected_item.description }} <br />
                <b>Cena: </b> {{ selected_item.price }} <br />
                <br />
                {% if something = 1 %}
                <b>Do tego będą pasować rzeczy z Twojej szafy:</b>
                {% elif something = 2 %}
                <b>Tym produktem możesz zastąpić następujące ubrania z Twojej szafy:</b>
                {% endif %}
                {% if something or something2 %}
                <table>
                    <tr>
                        {% for i in cnts %}
                        <td style="padding:10px"><img width="50" src="{% static "wimg/" %}{{ i.images.first.address }}"></td>
                        {% endfor %}
                    </tr>
                </table>
                {% endif %}
            </div>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
  <script src="{% static "js/bootswatch.js" %}"></script>

  </body>
</html>
